# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Operating system files
.DS_Store
Thumbs.db
